.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 95vw;
}

.formContainer {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
